body{
	font-family: 'Microsoft Yahei';
	line-height: 1.428571429;
	font-size: 14px;
	background: #e6e6e6;
	background-color:#fff;
	margin:0;
	padding:0;
}

#ajaxwaitid{
	position: absolute;
	display: none;
	top:0;
	right:0;
	z-index: 1;
	padding:0 5px;
	background: #D00;
	color:#fff;
}



header{
	margin:0;
	padding:0;
	width:100%;
	height:120px;
	background: url("./cng_img/headerbg (1).png") repeat-x;
	position: relative;

}
header .container{
	margin-right:auto;
	margin-left: auto;
	padding:0;
	position: relative;
	width:1250px;
/* 	background: #ccc; */

}

#scrolltop{
	right: 30px;
	 background: none repeat scroll 0 0 #F4F4F4;
    border-color: -moz-use-text-color #CDCDCD ;
    border-image: none;
    border-radius: 3px;
    border-right: 1px solid #CDCDCD;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    bottom: 100px;
    cursor: pointer;
    display: block;
    margin: -30px 0 0 2px;
    position: fixed;
    visibility: hidden;
    width: 40px;
    z-index: 999;
}

#scrolltop a{
	background:url("./cng_img/scrolltop.png") no-repeat scroll 0 0 rgba(0,0,0,0);
	border-top:1px solid #CDCDCD;
	color:#787878;
	display:block;
	height:24px;
	line-height: 12px;
	padding:3px 5px;
	text-align: center;
	text-decoration: none;
	width:30px;
	margin-bottom:10px;
}


#scrolltop a b{
	visibility: hidden;
	font-weight: normal;
}

.logo{
	width:240px;
	height: 70px;
	position: relative;
	z-index: 99;
	margin-left:10px;
}

.logo > a{
	display:block;
	margin-top:30px;
	width:240px;
	height:70px;
	background:url(./cng_img/ExpLOGO.png) no-repeat top left;
	color:#333;
	line-height:14px;
	text-decoration: none;

}

.logo > a >p{
	position: absolute;
	bottom: 0;
	right: 0;
	padding:0;
	margin:0;
}

.header-banner{
	position: absolute;
	width:552px;
	height: 120px;
	background: url(./cng_img/headerbanner.png) no-repeat;
	top:0;
	left:0;
	z-index: 98;

}

.eh_link{
	float:right;
	color:#666;
	cursor: pointer;
	padding-top:5px;
	left:90%;
	top:10px;
	position: absolute;
	width:100%;
}


 .eh_link p{
 	   	margin:0 0 10px 0;

}


.search{
	width:250px;
	height: 28px;
	position: absolute;
	top: 45px;
	right:20px;
	z-index: 99;
}


.search > form{
	height: 28px;
	position: relative;
	opacity:0.5;
	-webkit-opacity:0.5;
}


.search > form >input{
	height: 28px;
	padding:3px 30px 3px 65px;
	line-height: 22px;
	font-size:14px;
	color:#ddd;
	border:1px solid #ccc;
	border-radius:3px;

}


.search > form >select{
	position: absolute;
	top:5px;
	left:5px;
	border:none !important;
	height: 22px;
	background: none !important;
	padding:0 !important;

}


option{
	font-weight:normal;
	display:block;
	white-space: pre;
	min-height:1.2em;
	padding:0 2px 1px 0;
}

.search > form>a{
	position: absolute;
	font-size:14px;
	line-height: 22px;
	top:3px;
	right:10px;
}



form .fa fa-search{
	text-decoration: none;

}

/* 上面有的出里问题 */




nav{
	margin:0;
	padding:0;
	width:100%;
	height:39px;

	background: url(./cng_img/navbg.png) repeat-x;

}

.container{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0;
	width:1250px;
}


.animenu input[type=checkbox]{
	position: absolute;
	top:-9999px;
	left:-9999px;
	margin:5px 5px 6px 10px;
	line-height: normal;


}

.animenu  label{
	display:none;
	cursor:pointer;
	margin-top:5px;
	font-weight:bold;
}


.animenu >ul{
	z-index: 999;
	margin-top:1px;
	margin:0;
	padding:0;
	list-style: none;


}

.animenu >ul >li.webmeun{
	width:140px;
	text-align: left;
	font-weight:bold;


}

.animenu >ul >li{
	float:left;
	padding-right:2px;
	background:url(./cng_img/meunbg.png) no-repeat  right;
	position: relative;

}
ul li {
	list-style:none;

}
 .animenu li{
 	position: relative;
 }

.animenu >ul >li>a{
	float:left;
	padding:8px 20px;
	text-transform: uppercase;


}

.animenu >ul a{
	color:#999999;
	text-transform: none;
	text-shadow:none;
}
.animenu ul{
	padding:0;
	list-style: none;
}


.animenu >ul  ul{
	position: absolute;
	top:100px;
	left:0;
	z-index:1000;
	opacity: 0;
	visibility:hidden;
	margin:0;
	width:350px;
	box-shadow:0px 1px 5px #ccc;
	border-bottom:2px solid #cc102c;
	background-color: #fefefe;
	background-image: none;
	transition-property: margin, opacity;
	transition-duration: .15s;



}



.animenu >ul  ul li{
	display:block;
	margin:0;
	padding:0  20px 20px 20px;
}


.animenu li{
	position: relative;
}

h3{
	    font-family: 'Microsoft Yahei';
	    font-weight:500;
	    line-height: 1.1;
	    color:inherit;
	    margin-top:10px;
	    margin-bottom:10px;
	    font-size:1.17em;
	    left: 5px；

}

.animenu > ul ul a{    
   font-size:14px;
   padding:2px 10px;
   display:block;
   border-color:#373737;
   float:left;
  }


.animenu > ul ul li:last-child{
	box-shadow: none;

}

.animenu > ul > li{
	float:left;
	padding-right:2px;
	background: url(./cng_img/meunbg1.png) no-repeat right;
}

.animenu > ul > li.meunactive > a{
	border-top:1px solid #f30;
	padding:8px 20px 7px 20px !important;
	font-size:20px;	
	text-decoration:none;
	
}


/* main */



.main{
	position: relative;
	background:#162c42;
	height: 100%;

}

.main-top-bg{
	background:url(./cng_img/main-top-bg.png) repeat-x;
	height:22px;
	position: absolute;
	top:0;
	right: 0;
	left:0;
    z-index: 200;

}
 

  .main.container{
  	position: relative;
  	background: #fff url(./cng_img/mainBG.jpg) left repeat-y;

 }

 .container{
 	margin-left:auto;
 	margin-right:auto;
 	padding:0;
 	width:1250px;

 }

.main.container.pin-wrapper{
	float:left;
	width:140px;

}


.main-menu{
	padding:20px 0px;
	float:left;
	
	height:auto;

}

  .main-menu-name{
 	
 	text-align: center;
 	border-bottom: 5px solid #f1f1f1;
 	padding:0px 20px 20px 20px ;
 }

.main-menu-name >button{
	margin-bottom:10px;

}

input.button ,button.button{
	height:34px;
	cursor:pointer;
}

.main-menu-nav{
	text-align: center;
	padding:0px 20px 20px 20px ;
	width:139px;
	height:338px;

}


.main-menu-nav > p{
	padding:20px 5px 0px 5px;
	text-align: center;
	margin:0 0 10px;
	width:99px;
	height:40px;


}

.fa fa-hdd{
	 
	 font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased; 
}



.main-menu-nav >a{
	padding:5px 5px;
	text-align: center;
	line-height: 28px;
	color:#000;
	text-decoration:none;

}
.main-content{
	width:790px;
	float:left;
	padding:20px 0px;
	position: relative;
}

.main-content-bannerpic{
	width:45.9%;
	min-height:320px;
	margin:10px 2% 10px 2%;
	float:left;
}



.slide-wp{
	width:100%;
	height: 320px;
	position: relative;

}
.slides{
	height:320px;

}

a{
	color:#000;
	text-decoration:none;
}
.slideImg{
	position: absolute;
	top:0;
	left:0;
	z-index: 9;
}

.slideChild {
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    height: 420px;
    position: relative;
    }

    .slideChild >h5{
    	margin-top:230px;
    	z-index: 99;

    }

    .slideChild >h5>a{
    	margin:0;
    	padding:0;
    	line-height: 24px;
    	font-size:16px;
    	color:#0D75AD;
    }